<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mybatisfactories.mapper.UserMapper">
    <select id="getOne" resultType="java.util.Map">
        select * from group_post where id = 1
    </select>
    <update id="update">
        update group_post set `status` = status + 1  where id = 1
    </update>
</mapper>