<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.bookmanager.dao.ClassMapper">

    <select id="getStusByClassId" resultType="com.chen.bookmanager.model.Student" parameterType="String">
        select name,id,class_id from student where class_id = #{0}
    </select>

    <resultMap id="resMap" type="com.chen.bookmanager.model.Class">
        <id property="id" column="id"></id>
        <collection property="stus" column="id" select="getStusByClassId"></collection>
    </resultMap>

    <select id="getClassByid" resultMap="resMap">
        select * from class where id = '2'
    </select>
</mapper>